<!DOCTYPE html>
<html><head></head><body>
    <p>User to delete:</p>
<br><form action="/delete" method="POST">
    Name: <input type="text" name="name"><br>
    <input type="submit" value="Delete">
  </form>
</body></html>